@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.leaflet-popup-content-wrapper {
    background-color: transparent !important; /* Loại bỏ nền trắng */
    box-shadow: none !important; /* Loại bỏ bóng đổ mặc định */
}

.leaflet-popup-tip {
    display: none !important; /* Loại bỏ mũi tên bên dưới popup */
}
